@import "~@elastic/eui/dist/eui_theme_amsterdam_light.css";
@import "~@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_globals.scss";

body {
	@include euiHeaderAffordForFixed(95px);
}

.dashPanel,
.dashPanel--loading {
	transition: background-color $euiAnimSpeedNormal $euiAnimSlightResistance,
		box-shadow $euiAnimSpeedNormal $euiAnimSlightResistance;
	-webkit-animation: fadein $euiAnimSpeedSlow $euiAnimSlightResistance; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein $euiAnimSpeedSlow $euiAnimSlightResistance; /* Firefox < 16 */
	-ms-animation: fadein $euiAnimSpeedSlow $euiAnimSlightResistance; /* Internet Explorer */
	-o-animation: fadein $euiAnimSpeedSlow $euiAnimSlightResistance; /* Opera < 12.1 */
	animation: fadein $euiAnimSpeedSlow $euiAnimSlightResistance;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeLoop {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.dashPanel .actionMenuButton {
	display: none;
}
.dashPanel:hover .actionMenuButton,
.euiPopover-isOpen.actionMenuButton {
	display: block !important;
}

.editMode .dashPanel {
	box-shadow: none;
	border: solid 2px rgba($euiColorLightShade, 0.4);

	transition: border-color $euiAnimSpeedFast $euiAnimSlightResistance;

	&:hover {
		border: solid 2px rgba($euiColorMediumShade, 1);
	}
}

.editMode .dashboardPanel {
	box-shadow: none;
	border: solid 2px rgba($euiColorLightShade, 0.4);
}

.euiProgress--customColor {
	background-color: $euiColorLightestShade;
}

.progressMenuButton {
	animation: fadeLoop 1.5s cubic-bezier(0.3, 0, 0.4, 1);
	animation-iteration-count: infinite;
}

// .euiProgress--customColor.euiProgress--indeterminate:before {
// 	background-color: $euiColorLightShade !important;
// }
